@media (max-width: 320px) {
    
}

@media (max-width: 375px) {}

@media (max-width: 425px) {}

@media (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 1024px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 1440px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}