@media (min-width: 0px) and (max-width: 320px){}
@media (min-width: 321px) and (max-width: 375px) {}

@media (min-width: 376px) and (max-width: 425px) {}

@media (min-width: 426px) and (max-width: 768px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 769px)and (max-width: 1024px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}